streamlit==1.46.1
transformers==4.41.2
torch==2.0.1
sentencepiece
python-dotenv
langchain-chroma==0.2.4
langchain-community==0.3.27
langchain-upstage==0.6.0
matplotlib==3.10.3
redis==6.2.0
safetensors==0.5.3
datasets==3.6.0