streamlit==1.46.1
transformers
datasets==3.6.0
matplotlib==3.10.3
torch==2.7.1
langchain-chroma==0.2.4
langchain-community==0.3.27
langchain-upstage==0.6.0
redis==6.2.0
safetensors==0.5.3
httptools==0.6.4
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
pysqlite3-binary # 이 줄만 남겨주세요.
unstructured
python-dotenv
pipeline==0.1.0